API_BASE_URL=https://api.kustomerapp.com
API_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY3ZmViYTRjNjYyNjBjNDk1ZWU3MjhmZSIsInVzZXIiOiI2N2ZlYmE0YzU1MjE5NGZhOTYyYjMxNTQiLCJvcmciOiI1ZmM2Y2RiMGQ2Yjk1NDY1YzMzODUyODciLCJvcmdOYW1lIjoicGFyLWFkYS1kZWxpbGFoIiwidXNlclR5cGUiOiJtYWNoaW5lIiwicG9kIjoicHJvZDEiLCJyb2xlcyI6WyJvcmcuYWRtaW4iLCJvcmcuYWRtaW4uYXBwcyIsIm9yZy5wZXJtaXNzaW9uLmFwcHMiXSwiYXVkIjoidXJuOmNvbnN1bWVyIiwiaXNzIjoidXJuOmFwaSIsInN1YiI6IjY3ZmViYTRjNTUyMTk0ZmE5NjJiMzE1NCJ9.o8kLbnqOxQanpfURb8wEW8LrtV9Mxs0TUbQRc_Bcxvc
